@import "reset.css";

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 10px;
}

/* .page__title {
    font-size: 48px;
    color: #fff;
    text-align: center;
    padding-top: 430px;
    text-transform: uppercase;
} */

body {
    font-family: 'Open Sans', sans-serif;

}

.header {
    /* background-color: transparent; */
    position: fixed;
    top: 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
    background-color: rgba(21, 21, 21, 0.1);
}



.current__page {
    text-decoration: underline;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.menu__logo {
    color: inherit;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    z-index: 11;
}

.menu__logo:hover {
    color: #bdbdbd;
    text-decoration: underline;
    transition: 0.3s;
}

.logo__portfolio {
    color: #505050;
}

.menu__list {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.menu__link {
    color: inherit;
    text-transform: uppercase;
}

.menu__link:hover {
    color: #bdbdbd;
    text-decoration: underline;
    transition: 0.3s;
}

.top {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.top::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(21, 21, 21, 0.3);
    z-index: -1;
}

.top__inner {
    display: block;
    margin: 0 auto;
}

.top__subtitle {
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding-top: 429px;
}

.top__title {
    font-size: 48px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
}

.news {
    background-color: #fff;

}

.news__title {
    padding-top: 80px;
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;
    color: #505050;
    padding-bottom: 70px;
}

.news-block {
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 100px;
}

.news-block::after {
    position: absolute;
    content: '';
    width: 100%;
    background-color: #505050;
    height: 1px;
    bottom: 0;
    left: 0;
}

.news-block__text {

    width: 250px;

}

.news-block__title {
    padding-bottom: 12px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
    font-family: 'EB Garamond', serif;
}

.news-credits {
    font-size: 15px;
    padding-bottom: 25px;
    /* font-family: 'EB Garamond', serif; */
    text-transform: uppercase;
    color: #505050;
}

.model-name {
    text-transform: uppercase;
}

.news-collage {
    display: grid;
    gap: 30px 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.two_pics {
    grid-template-rows: 1fr;
}

.item-horizontal {
    grid-column: span 2;
    width: 90%;
    margin: 0 auto;
}

.about {
    background-color: #fff;
}

.about__title {
    padding-top: 80px;
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;
    color: #505050;
}

.about__text {
    padding-top: 50px;
    font-size: 30px;
    max-width: 760px;
    margin: 0 auto;
    font-weight: 300;
    text-indent: 20px;
    text-align: center;
    padding-bottom: 100px;
}

.contacts {
    background-color: #fff;
}

.contacts__title {
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;
    color: #505050;
    margin-bottom: 50px;
}

.contacts__info {
    text-align: center;
    padding-bottom: 70px;
}

.email {
    font-size: 25px;
    padding-left: 26px;
    margin-bottom: 50px;
    display: inline-block;
    position: relative;
    font-weight: 500;
}

.email::before {
    content: "";
    position: absolute;
    background-image: url(../img/icons/email.svg);
    height: 17px;
    width: 20px;
    background-repeat: no-repeat;
    top: 14px;
    left: 0;
}

.telegram-img {
    margin: 0 auto;
}


.models,
.magazines,
.personal {
    margin-bottom: 100px;
}

.portfolio-title {
    margin-bottom: 30px;
    color: #505050;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    padding-top: 15px;
}

.portfolio-title::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    width: 100%;
    background: #979797;
}


.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}


.slick-dots {
    padding: 0;
}

.portfolio__slider {
    position: relative;
    padding: 0 50px;


}

.portfolio__slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 25px;
    height: 50px;
    border: none;
    margin: -30px 0 0 0;
    cursor: pointer;

}

.portfolio__slider .slick-arrow.slick-prev {
    left: 30px;

    background: url(../images/icons/arrow-prev.svg) 0 0 / 100% no-repeat;
}

.portfolio__slider .slick-arrow.slick-next {
    right: 30px;

    background: url(../images/icons/arrow-next.svg) 0 0 / 100% no-repeat;
}

.portfolio__slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio__slider .slick-dots li {
    list-style: none;
    margin: 0 7px;
}

.portfolio__slider .slick-dots li.slick-active button {
    background-color: #505050;
}

.portfolio__slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #838383c4;
    border-radius: 50%;
    border: none;
}

.slider-img {
    height: 75vh;
    margin: 0 auto 30px;
}

.menu__btn {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 11;
}

.menu__btn span {
    background-color: #fff;
    height: 2px;
    width: 100%;
}

@media (max-width: 890px) {
    .top__title {
        font-size: 42px;
    }

    .news__title {
        font-size: 35px;
    }

    .about__title {
        font-size: 35px;
        padding-top: 70px;
    }

    .about__text {
        font-size: 27px;
    }

    .contacts__title {
        font-size: 35px;
    }

    .models,
    .magazines,
    .personal {
        margin-bottom: 70px;
    }
}

@media (max-width: 750px) {
    .menu__logo {
        font-size: 22px;
    }

    .top__title {
        font-size: 35px;
    }

    .news__title {
        padding-top: 60px;
        padding-bottom: 48px;
        font-size: 33px;
    }

    .news-block__title {
        font-size: 22px;

    }

    .news-credits {
        font-size: 14px;
    }

    .news-block {
        padding-bottom: 80px;
    }

    .about__title {
        padding-top: 45px;
        font-size: 33px;
    }

    .about__text {
        padding-bottom: 60px;
    }

    .contacts__title {
        font-size: 33px;
    }

    .contacts__info {
        padding-bottom: 65px;
    }

    .portfolio__slider {
        padding: 0 25px;

    }

    .models,
    .magazines,
    .personal {
        margin-bottom: 58px;
    }
}

@media (max-width: 660px) {
    .portfolio__slider .slick-arrow.slick-next {
        right: 5px;
    }

    .portfolio__slider .slick-arrow.slick-prev {
        left: 5px;
    }
}

@media (max-width: 615px) {
    .news__title {
        font-size: 31px;
    }

    .news-collage {
        display: flex;
        flex-wrap: wrap;
    }

    .about__title {
        font-size: 31px;
    }

    .about__text {
        padding-bottom: 55px;
        font-size: 25px;
    }

    .contacts__title {
        font-size: 31px;
    }

    .contacts__info {
        padding-bottom: 60px;
    }

    .telegram-img {
        height: 40px;
        width: 40px;
    }

    .portfolio__slider {
        padding: 0 25px;
    }

    .portfolio__slider .slick-arrow.slick-prev {
        left: 8px;

    }

    .portfolio__slider .slick-arrow.slick-next {
        right: 8px;

    }

    .portfolio__slider .slick-arrow {
        width: 20px;
        height: 40px;
    }

    .portfolio__slider .slick-dots li {
        margin: 0 5px;
    }

    .slider-img {
        height: 60vh;

    }

    .models,
    .magazines,
    .personal {
        margin-bottom: 48px;
    }
}

@media (max-width: 540px) {
    .slider-img {
        height: 52vh;
    }
}

@media (max-width: 460px) {
    .menu__btn {
        display: flex;
        margin-right: 7px;
    }

    .menu__btn.menu__btn-portfolio span {
        background-color: #505050;
    }

    .menu__list {
        background-color: rgba(21, 21, 21, 0.7);
        position: absolute;
        z-index: 5;
        flex-direction: column;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        align-items: flex-end;
        height: 25vh;
        padding: 132px 20px 50px 20px;
        transform: translateY(-100%);
        transition: transform .3s ease;

    }

    .menu__list.menu__list--active {
        transform: translateY(0%);
    }

    .menu__list-portfolio {
        background-color: rgba(255, 255, 255, 1);
    }

    .top__subtitle {
        font-size: 14px;
    }

    .top__title {
        font-size: 29px;

    }

    .news__title {
        font-size: 27px;
    }

    .news-block {
        padding-bottom: 55px;
    }

    .news-block__title {
        font-size: 18px;
        padding-bottom: 8px;
    }

    .news-credits {
        padding-bottom: 20px;
        font-size: 12px;
    }


    .about__title {
        font-size: 27px;
        padding-top: 49px;
    }

    .about__text {
        font-size: 18px;
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .contacts__title {
        font-size: 27px;
    }

    .contacts__info {
        padding-bottom: 50px;
    }

    .email {
        font-size: 21px;
    }

    .slider-img {
        height: 45vh;
    }

    .portfolio-title {
        font-size: 16px;
    }



    .portfolio__slider .slick-dots li {
        margin: 0 3px;
    }

    .portfolio__slider .slick-arrow {
        width: 16px;
        height: 32px;
    }
}

@media(max-width:415px) {

    .header__menu {
        height: 84px;
    }

    .slider-img {
        height: 40vh
    }

    .slick-list {
        height: auto;
    }

    .models,
    .magazines,
    .personal {
        margin-bottom: 30px;
    }

    .portfolio__slider .slick-dots {
        display: none;
    }
}

@media(max-width:370px) {
    .slider-img {
        height: 37vh;
    }

    .portfolio__slider .slick-arrow.slick-prev {
        left: 0;

    }

    .portfolio__slider .slick-arrow.slick-next {
        right: 0;

    }

    .portfolio__slider .slick-dots {
        display: none;
    }

}

@media(max-width:342px) {
    .slider-img {
        height: 34vh;
    }

    .models,
    .magazines,
    .personal {
        margin-bottom: 25px;
    }
}